output.py
output.txt
selenia.py
stundenplan.ics
stundenplan.py
vertretungsplan.py
webscraper.py
__pycache__/kurse.cpython-314.pyc
__pycache__/output.cpython-314.pyc
__pycache__/selenium.cpython-314.pyc
__pycache__/stundenplan.cpython-314.pyc
__pycache__/vertretungsplan.cpython-314.pyc
__pycache__/webscraper.cpython-314.pyc
backup/icsconversion.py
backup/kurse.py
backup/output.py
backup/stundenplan.py
backup/vertretungsplan.py
backup/webscraper.py
kurse.py
icsconversion.py
.python-version
main.py
pyproject.toml
uv.lock
